[Unit]
Description=%i login server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dcnet
WorkingDirectory=/usr/local/chuchu
ExecStart=/usr/local/chuchu/chuchu_login_server %i.cfg

[Install]
WantedBy=multi-user.target
